# Mac files
.DS_Store

# Dependency directories
/node_modules

# lerna files
/lerna-debug.log
.idea
.env
.env.production
.env.local

node_modules
/webtime-studio/public/
_materials
/_materials/
/src/__generated__/
__generated__
/coverage
.next
storybook-static/
tsconfig.tsbuildinfo

out
.graphqlconfig
schema.json
.swc

# Yarn 3 files
.pnp.*
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vercel
