@import "../../styles/colors";

.section-description {
  max-width: 500px;
  margin: 0 auto 24px;
  p {
    text-align: center;
  }
}

.block-description {
  display: flex;
  flex-direction: column;

  p {
    color: $text-color;
  }

  @media (min-width: 700px){
    flex-direction: row;
    align-items: center;
  }
}
