@import "../../styles/colors";

.portfolio-item {
  position: relative;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 8px;
  min-height: 280px;
  max-height: 280px;
  overflow: hidden;
  //background: linear-gradient(145deg, #f1f1f1, #ffffff);
  //box-shadow: 0 0 10px #adadad6e, 0 0 5px #ebebeb;

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: #212529;
    opacity: 0.9;
    pointer-events: none;
    transition: ease opacity 300ms 100ms;
  }

  &:hover {
    &:before {
      opacity: 0.7;
    }
  }

  .link {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(228, 22, 69);
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 280px;
    line-height: 26px;
    outline-color: rgb(228, 22, 69);
    outline-style: none;
    outline-width: 0;
    text-align: left;
    text-decoration-color: rgb(228, 22, 69);
    text-decoration-line: none;
    text-decoration-style: solid;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    img {
      display: inline-block;
      height: 100%;
      object-fit: cover;
      //width: auto;
    }
  }

  .item-content {
    z-index: 10;
    align-items: flex-end;
    bottom: 0;
    box-sizing: border-box;
    color: rgb(228, 22, 69);
    cursor: pointer;
    direction: ltr;
    display: flex;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 216px;
    line-height: 26px;
    padding: 48px;
    position: absolute;
    text-align: left;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  //@media (min-width: 780px) {
  //  width: 49%;
  //  //flex-direction: row;
  //}

  .title {
    color: $text-color--light;
    font-size: 32px;
    line-height: 1.2;

    > a {
      color: inherit;
    }
  }

  .date {
    color: #9fa5b3;
    font-size: 13px;
    margin-bottom: 24px;
  }

  .text-content {
    line-height: 1.5;
    color: #71747b;
    font-size: 15px;
  }
}
