@import 'colors';

* {
  font-family: Roboto, sans-serif;
}

/*
Text
 */

p {
  color: $text-color;
}

body,
html {
  padding: 0;
  color: #999;

  &.light {
    background-color: #f0ebde;
  }

  &.dark {
    // background-color: #252525;
    background-color: #f0ebde;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #312420;
  font-family: Neucha, Roboto, Helvetica, Arial, sans-serif;
}

.content-section {
  margin: 32px 0;
}

/*
* Font Icons
*/
@font-face {
  font-family: 'Fontello';
  src: url('./fonts/fontello/fontello.woff2') format('woff2'),
    url('./fonts/fontello/fontello.woff') format('woff'),
    url('./fonts/fontello/fontello.ttf') format('ttf'),
    url('./fonts/fontello/fontello.eot') format('eot');
}
