name: Test

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  wake-up-heroku-admin:
    runs-on: ubuntu-latest
    steps:
    - name: Wake up https://ck-adm.herokuapp.com/
      run: |
        curl -X GET "https://ck-adm.herokuapp.com/"
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
        cache: 'yarn'
    - name: Install dependencies
      run: yarn install --frozen-lockfile
    - name: Run unit tests
      run: yarn test -- --coverage
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        name: codecov-umbrella
        fail_ci_if_error: false
